body{
     font-family: 'Roboto', sans-serif;
}


header,footer{
    color:#22b14c;
    text-align: center;
    border: 3px solid;
    padding: 10px 0px;
    font-weight: bolder;
    font-size: large;
}


section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: 425px;

    margin: 14px 0px;

    font-weight: bolder;
    font-size: larger;  
}

#leftDiv,#rightDiv{

    text-align: center;
    
    width: 45%;
}

#leftDiv{
    color: #ed1c24;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#rightDiv{
    color: #00a2e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      
}


#topDiv,#bottomDiv{
    border:5px solid;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

div.small{   
    text-align: center;
    padding: 10px;
}

span{
    font-style: italic;
    
}

a{
    text-decoration: none;
}


